<nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="/"><h1 class="p-0">AnxietyJournal</h1></a>
      <div class="d-flex" role="search">
          <span class="mx-2"><a href="/login">Login</a></span> | <span class="mx-2"><a href="/register">Register</a></span> | <span class="mx-2"><a href="">Community Forum</a></span> | <span class="mx-2"><a href="">Resources</a></span>
      </div>
    </div>
  </nav>