<nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="/"><h1 class="p-0">AnxietyJournal</h1></a>
      <div class="d-flex" role="search">
        <% if (!token) { %>
          <span class="mx-2"><a href="/login">Login</a></span> | <span class="mx-2"><a href="/register">Register</a></span> 
        <% } %>
            <% if (token) { %>
              <span class="mx-2"><a href="/journals">Journal Entries</a></span> |<span class="mx-2"><a href="/forum">Community Forum</a></span> | <span class="mx-2"><a href="/resources">Resources</a></span> | 
              <a href="/logout" class="text-danger mx-2"> Sign Out</a>
            <% } %>
      </div>
    </div>
  </nav>