<div
  class="container-fluid d-flex align-items-center justify-content-center my-5 py-5"
>
  <div class="card p-3">
    <form method="post" action="/reset-password">
      <div class="mb-3 mx-2">
        <h1>Forgot Password</h1>
      </div>

      <!-- Add an element to display error messages -->
      <div class="mb-3" id="error-message"></div>

      <div class="mb-3">
        <div class="input-group">
          <input
            type="email"
            class="form-control"
            placeholder="Enter Email"
            name="email"
            required
          />
        </div>
      </div>

      <div class="mb-3">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Security Question Answer"
            name="securityAnswer"
            required
          />
        </div>
      </div>

      <div class="mb-3">
        <div class="input-group">
          <input
            type="password"
            class="form-control"
            placeholder="Enter New Password"
            name="newPassword"
            required
          />
        </div>
      </div>

      <div class="row justify-content-center align-items-center">
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-block w-100">
            Reset Password
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  window.onload = function () {
    const urlParams = new URLSearchParams(window.location.search);
    const errorMessage = urlParams.get("error");
    if (errorMessage) {
      const errorText =
        {
          user_not_found: "User not found with that email.",
          invalid_security_answer: "Invalid security question answer.",
          reset_password_error:
            "Error occurred while resetting password. Please try again later.",
        }[errorMessage] || "An unknown error occurred.";
      const errorDiv = document.getElementById("error-message");
      errorDiv.innerHTML = `<div class="alert alert-danger">${errorText}</div>`;
    }
  };
</script>
