<div class="container py-5 bg-light mt-2 mb-5 rounded">
  <div class="row">
    <div class="col-md-6">
      <h4 class="mx-4">Community Forum</h4>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
        >New Post</a
      >
    </div>
  </div>
  <div class="row p-3">
    <% posts.forEach(entry=> { %>

    <div class="col-md-3">
      <div class="col-md-">
        <div class="card m-2">
          <!-- Remove image field -->
          <div class="card-body">
            <h5 class="card-title"><%= entry.title %></h5>
            <p class="card-text"><%= entry.content %></p>
          </div>
          <div class="card-footer">
            <a
              href="#"
              data-id="<%= entry._id %>"
              data-bs-toggle="modal"
              data-bs-target="#commentModal"
              ><i class="bi bi-chat-fill"></i> <%= entry.commentsCount %>
              comments</a
            >
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<!-- Remove the modal for file input -->

<!-- Modal for New Post -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <form action="/forum" method="post">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group mb-3">
            <input
              name="title"
              type="text"
              class="form-control"
              placeholder="Title"
              required
            />
          </div>
          <div class="form-group mb-3">
            <textarea
              name="content"
              type="text"
              class="form-control"
              rows="6"
              required
              placeholder="Enter content..."
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary px-4">Post</button>
        </div>
      </div>
    </div>
  </form>
</div>
