<div class="container py-4">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="h4">Mood tracker for</div>
                </div>
                <div class="col-md-6">
                    <select name="" id="" class="form-control">
                        <option value="">Past Week</option>
                        <option value="">Two Weeks</option>
                        <option value="">One Month</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</div>