<div class="container py-5 bg-light mt-2 rounded" >
    <div class="row">
        <div class="col-md-6">
            <div class="card elevation-0 p-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="h4">Mood tracker for</div>
                    </div>
                    <div class="col-md-6">
                        <select name="" id="" class="form-control">
                            <option value="">Past Week</option>
                            <option value="">Two Weeks</option>
                            <option value="">One Month</option>
                        </select>
                    </div>
                </div>
                <figure class="highcharts-figure">
                    <div id="container"></div>
                </figure>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card elevation-0 p-2">
                <div class="h4">How is your mood today?</div>
                <div class="d-flex my-2">
                    <div class="h5"> <span class="text-danger fw-bold">1:</span> Extremely Sad</div>
                    <div class="h5"> <span class="text-danger fw-bold">10:</span> Extremely Happy</div>
                </div>
                <div class="form-sub">
                    <form action="/mood" method="post">
                        <div class="form-group my-2">
                            <select name="mood" id="mood" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="form-group my-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="journal-entries pb-5">
        <div class="row">
            <div class="col-md-6">
                <div class="h4">Journal Entries</div>
            </div>
            <div class="col-md-6">
                <a href="/journal/create" class="btn btn-outline-primary">Create New Entry</a>
            </div>
        </div>
        <% if (journals.length> 0) { %>
            <div class="row my-4">
                <% journals.forEach(entry=> { %>
                    <div class="col-md-4">
                        <div class="col-md-">
                            <div class="card">
                                <div class="card-body">
                                    <%= entry.entry %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <% } else { %>
                <div class="row">
                    <div class="col-md-12">
                        No journal entries found.
                    </div>
                </div>
                <% } %>

          <% if (journals.length> 2) { %>
            <div class="row mb-5 mx-2">
                <div class="col-md-12">
                    <a href="/journals" class="text-primary">View More</a>
                </div>
            </div>
          <% } %>
    </div>
</div>