<div class="container py-5 px-3 bg-light mt-2 mb-5">
  <form action="/journals" method="post" class="px-3">
    <div class="h3">New Journal Entry</div>
    <div class="form-group">
      <!-- Textarea for journal entry -->
      <textarea
        name="entry"
        class="form-control"
        id="journaltextarea"
        rows="10"
        style="display: none"
        <!--
        Hide
        the
        textarea
        --
      >
          required
        ></textarea
      >
      <!-- Container to display formatted text -->
      <div
        id="formattedText"
        contenteditable="true"
        class="form-control"
        style="min-height: 100px"
      ></div>
    </div>
    <div class="form-check form-check-inline py-3">
      <!-- Bold button -->
      <button
        type="button"
        id="boldButton"
        class="btn btn-primary"
        onclick="toggleBold()"
      >
        Bold
      </button>
      <!-- Italic button -->
      <button
        type="button"
        id="italicButton"
        class="btn btn-primary"
        onclick="toggleItalic()"
      >
        Italic
      </button>
      <input
        name="public"
        class="form-check-input"
        type="checkbox"
        id="inlineCheckbox1"
      />
      <label class="h5" for="inlineCheckbox1"
        >Post Publicly in Community Forum</label
      >
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-primary px-5">Save</button>
    </div>
  </form>
</div>

<script>
  // Function to toggle bold formatting
  function toggleBold() {
    var formattedText = document.getElementById("formattedText");
    document.execCommand("bold", false, null); // Toggle bold formatting
    var boldButton = document.getElementById("boldButton");
    boldButton.classList.toggle("btn-secondary"); // Toggle button color
  }

  // Function to toggle italic formatting
  function toggleItalic() {
    var formattedText = document.getElementById("formattedText");
    document.execCommand("italic", false, null); // Toggle italic formatting
    var italicButton = document.getElementById("italicButton");
    italicButton.classList.toggle("btn-secondary"); // Toggle button color
  }
</script>
