<div class="container-fluid d-flex align-items-center justify-content-center bg-light my-5 py-5">
    <div class="card p-3">
        <form>
            <div class="mb-3 mx-2">
                <h1>AnxietyJournal</h1>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter Full Name"
                        name="fullname" required>
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Enter Email"
                        name="email" required>
                </div>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <input type="password" class="form-control" placeholder="Password"
                        name="password" required>
                </div>
            </div>

            <div class="mb-3">
                <div class="input-group">
                    <input type="password" class="form-control"
                        placeholder="Confirm Password" name="confirm_password" required>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block w-100">Sign Up</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <div>Already have an account?</div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center mt-2">
                <div class="col-12">
                    <a href="/login"
                        class="btn btn-outline-primary btn-block w-100">Login</a>
                </div>
            </div>
        </form>
    </div>
</div>